
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    color: #001446;
    font-size: 1.25rem;
    font-weight: 600;
}

.p-0 {
    padding: 0;
}

.p-1 {
    padding: 0.25rem; /* 4px */
}

.p-2 {
    padding: 0.5rem; /* 8px */
}

.p-3 {
    padding: 0.75rem; /* 12px */
}

.p-4 {
    padding: 1rem; /* 16px */
}

.p-5 {
    padding: 1.25rem; /* 20px */
}

.p-6 {
    padding: 1.5rem; /* 24px */
}

.p-8 {
    padding: 2rem; /* 32px */
}

.p-10 {
    padding: 2.5rem; /* 40px */
}

.p-12 {
    padding: 3rem; /* 48px */
}

.p-16 {
    padding: 4rem; /* 64px */
}

.p-20 {
    padding: 5rem; /* 80px */
}

.p-24 {
    padding: 6rem; /* 96px */
}

.p-32 {
    padding: 8rem; /* 128px */
}

.pt-0 { padding-top: 0; }
.pt-1 { padding-top: 0.25rem; }
.pt-2 { padding-top: 0.5rem; }
.pt-3 { padding-top: 0.75rem; }
.pt-4 { padding-top: 1rem; }

.pr-0 { padding-right: 0; }
.pr-1 { padding-right: 0.25rem; }
.pr-2 { padding-right: 0.5rem; }
.pr-3 { padding-right: 0.75rem; }
.pr-4 { padding-right: 1rem; }

.pb-0 { padding-bottom: 0; }
.pb-1 { padding-bottom: 0.25rem; }
.pb-2 { padding-bottom: 0.5rem; }
.pb-3 { padding-bottom: 0.75rem; }
.pb-4 { padding-bottom: 1rem; }

.pl-0 { padding-left: 0; }
.pl-1 { padding-left: 0.25rem; }
.pl-2 { padding-left: 0.5rem; }
.pl-3 { padding-left: 0.75rem; }
.pl-4 { padding-left: 1rem; }

.px-0 { padding-left: 0; padding-right: 0; }
.px-1 { padding-left: 0.25rem; padding-right: 0.25rem; }
.px-2 { padding-left: 0.5rem; padding-right: 0.5rem; }
.px-3 { padding-left: 0.75rem; padding-right: 0.75rem; }
.px-4 { padding-left: 1rem; padding-right: 1rem; }

.py-0 { padding-top: 0; padding-bottom: 0; }
.py-1 { padding-top: 0.25rem; padding-bottom: 0.25rem; }
.py-2 { padding-top: 0.5rem; padding-bottom: 0.5rem; }
.py-3 { padding-top: 0.75rem; padding-bottom: 0.75rem; }
.py-4 { padding-top: 1rem; padding-bottom: 1rem; }
.text-7xl{
    font-size: 4.5rem;      
}

.text-6xl{
    font-size: 3.75rem;
}

.text-5xl{
    font-size: 3rem;
}

.text-3xl{
    font-size: 1.875rem;
}

.text-2xl{
    font-size: 1.5rem;       
}

.text-xl{
    font-size: 1.25rem;
}
.text-lg{
    font-size: 1.125rem;          
}

.text-base{
    font-size: 1rem; 
}

.leading-3   { line-height: 0.75rem; }  
.leading-4   { line-height: 1rem; }     
.leading-5   { line-height: 1.25rem; }  
.leading-6   { line-height: 1.5rem; }   
.leading-7   { line-height: 1.75rem; } 
.leading-8   { line-height: 2rem; }     
.leading-9   { line-height: 2.25rem; }  
.leading-10  { line-height: 2.5rem; } 
.leading-11  { line-height: 2.75rem; }  
.leading-12  { line-height: 3rem; }     
.leading-13  { line-height: 3.25rem; }   
.leading-14  { line-height: 3.5rem; }   
.leading-15  { line-height: 3.75rem; }  
.leading-16  { line-height: 4rem; }     
.leading-17  { line-height: 4.25rem; }   
.leading-18  { line-height: 4.5rem; }  
.leading-19  { line-height: 4.75rem; } 
.leading-20  { line-height: 5rem; }     

.leading-none     { line-height: 1; }
.leading-tight    { line-height: 1.25; }
.leading-snug     { line-height: 1.375; }
.leading-normal   { line-height: 1.5; }
.leading-relaxed  { line-height: 1.625; }
.leading-loose    { line-height: 2; }

.font-thin{
    font-weight: 100;
}

.font-light{
    font-weight: 300;
}

.font-normal{
    font-weight: 400;
}

.font-medium{
    font-weight: 500;
}

.font-semibold{
    font-weight: 600;
}

.font-bold{
    font-weight: 700;
}


.text--primary{
    color: white;
}

.text--secondary{
    color: #00DDBE;
}

.text--tertiary{
    color: #407FC1;
}

.bg--primary{
    background: #001446;
    color: white
}

.bg--secondary{
    background: #F1F5FA;
}

.bg--tertiary{
    background: #407FC1;
    color: white;
}

.btn{
    border-radius: 3.125rem; 
    border: none;
    color: #001446;
    cursor: pointer;
    color: #1f2937;            
    font-size: 1.125rem;  
    font-weight: 600;
    line-height: 1.375;   
}

.btn:hover{
    opacity: 70%;
    transition: 0.2s;
}
.btn--remove{
    border: none;
    background: none;
    cursor: pointer;
}

.btn--primary{
    background-color: #00DDBE; 
}

.btn-secondary {
    background-color: #f0f0f0;  
}

.btn--large{
    font-size: 1.25rem;
    font-weight: 600; 
    padding: 0.75rem 3.25rem 1rem;
}

.btn--medium{
    padding: 1.125rem 2.875rem;
}

.btn--small{
    font-size: 1.25rem;
    font-weight: 600; 
    padding: 0.75rem 2.25rem 0.875rem;
}

.uppercase{
    text-transform: uppercase;
}

.header{
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: space-between;
    padding: 2.5rem 4.5rem 2.5rem;
    align-items: center;  
}

.header__logo{
    cursor: pointer;
}

.nav__list{
    display: flex;
    flex-direction: row;
    gap: 54px;  
}

.nav__item{
    list-style: none;
}

.nav__item:hover {
    opacity: 70%;
}

#nav__menu--open{
    display: none;
}

.nav__mobile-btn{
    display: none;
    cursor: pointer;
}

.nav__mobile-btn img {
    width: 5rem;
    height: 5rem;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;               
    background-color: rgba(0,0,0,0.3);
    z-index: 2;
    display: none;
}

.nav__mobile{
    background-color: white;
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 100vh;  
    z-index: 3;
    transform:translateX(100%) 

}

#nav__menu--open:checked ~ .nav__mobile {        
    transform: translateX(0);
    transition: transform 0.3s ease-in-out; 
}

#nav__menu--open:checked ~ .overlay {        
    display: block;
}

.nav_list_mobile {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 2.5rem 4.5rem 2.5rem;
    justify-content: space-between;
    height: 50%;  
}

.nav___mobile__item{
    cursor: pointer;
    padding: 1.25rem 1rem;
    transition: stransform 0.2s ease-in-out ;
   
}

.nav___mobile__item:hover{
    opacity: 70%;
    background: rgba(174, 152, 152, 0.3);
}

.section{
    padding: 4.375rem  8.75rem 6.25rem;  
}

.mission__section{
    width: full;
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
}

.mission__content{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 6.375rem 15rem 10rem 8.75rem;
    gap: 1rem;
}

.mission__title{
    font-size: 3.75rem; 
    font-weight: 700;    
    line-height: 4rem;
}

.mission__describe{
    font-size: 1.25rem;       
    font-weight: 400;       
    line-height: 2;   
}

.mission__btn{
    align-items: center;
    padding-top:  0.625rem;
    padding-bottom: 0.625rem;
    display: flex;
    gap: 2.5rem;
}

.awards__section{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    align-items: center;
    
}

.awards__list{
    display: flex;
    justify-content: space-between;
    width: 100%;   
    
}

.awards__item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.award__icon{
    padding-bottom: 0.5rem;
}

.title__award{
    padding-bottom: 1.5rem;
}

.sponsorship__section{
    display: flex;
    flex-direction: column;
    gap: 4.625rem;
    align-items: center;
    padding-bottom: 7.125rem;

}

.sponsorship__list{
    display: flex;
    justify-content: space-between;
    width: 100%;
    
}

.sponsorship__item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sponsorshipcard__amount{
    font-size: 4.5rem;      
    font-weight: 300;      
    line-height: 80px;
}

.title__field{
    padding-top: 1.5rem;
}

.news__section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 4.625rem;
}

.news__list{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 5.375rem;
    width: 100%;
    padding-top: 4.75rem;
    padding-bottom: 19.125rem;
    
}

.news__item{
    position: relative;
    flex: 1;    
}

.news__item img {
    max-width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    aspect-ratio: 3 / 2; 
    border-radius: 0.5rem;
}

.news__content{
    position: absolute;
    display: flex;
    flex-direction: column;  
    padding: 2.75rem 1.75rem;
    gap: 0.75rem;
    top: 80%;
    width: 90%;
    left: 5%;
}

.news__date{
    font-size: 1rem; 
    font-weight: 700; 
    text-transform: uppercase;
    line-height: 1.25
}

.news__describe{
    font-size: 1.125rem;      
    font-weight: 400;       
    line-height: 1.625; 
}

.conference__section{
    display: flex;
    flex-direction: row;
}

.conference__left{
    padding-top: 3.25rem;
    padding-left: 4.5rem;
    padding-bottom: 3.25rem;
    padding-right: 6rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between  ;
}

.conference__title{
    padding-bottom: 0.75rem;
    font-size: 1.875rem; 
    font-weight: 700;
    line-height: 2.5rem; 
}

.conference__describe{
    font-size: 1.125rem;      
    line-height: 1.75rem;      
    font-weight: 400;
    line-height: 1.625;
    padding-bottom: 2rem;
}

.conference__right{
    padding-top: 3.25rem;
    flex: 1;
    padding-right: 5.625rem;
    padding-bottom: 3.25rem;
    padding-left: 5.125rem;
    display: flex;
    flex-direction: row;
}

.conference__info{
    font-size: 1.25rem;     
    font-weight: 600;
    line-height: 1.625;
    padding-bottom: 3.125rem;
}

.conference__img{
    flex: 1;
    position: relative;
    overflow: hidden;
}

.conference__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block; 
  }

.conference__contentright{
    flex: 2;
}

.footer-content{
    display: flex;
    flex-direction: row;
    gap: 3.25rem;
    padding: 6.25rem  4.5rem;
}

.footer__title{  
    font-size: 1.125rem;       
    font-weight: 700;
    line-height: 1.375;  
}

.footer__describe{
    font-size: 1.125rem;             
    font-weight: 400;
    line-height: 1.625;
}

.footer__section{
    flex: 1;
}

.footer__logo{
    padding-bottom: 2rem;
}

.footer-describe--line{
    padding-bottom: 0.75rem;
    border-bottom: 1px solid #001446;
}

.footer-copyright{
    color: rgba(113, 113, 122, 0.75);  
    font-size: 0.75rem;  
    font-weight: 600;
    line-height: 1;     
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    padding: 2rem 4.25rem  2.25rem;
    border-top: 1px solid gray;
    
}



@media only screen  and (max-width: 1350px) {
    body {
        background-color: red;
    }
    .news__list{
        flex-direction: column;
        padding-bottom: 3.25rem;
    }
    .news__item{
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .news__item img {
        width: 66.66%;
        flex: 2;
        flex-wrap: wrap;
    }

    .news__content{
        position: static;
        flex: 1;
    }

    .conference__section{
        flex-direction: column;
    }

    .header {
        gap: unset;
    }

    .nav__list{
        gap: 1.5rem;
    }
}
@media only screen  and (max-width: 1199px) {
    body {
        background-color: blue;
    }
    .nav__list{
        display: none;
    }

    .header__btn{
        display: none;
    }
    
    .mission__section{
        flex-direction: column;
    }

    .mission__content{
        width: 100%;
        align-items: center;
        padding-left: 4.5rem;
        padding-right: 4.5rem;
    }

    .mission__describe{
        text-align: center;
    }

    .mission__img{
        width: 100%;
        align-items: center;
    }

    .mission__img img{
        width: 100%;
    }

    .awards__list{
        flex-wrap: wrap;
        gap: 1rem;
    }

    .awards__item{
        flex: 0 0 calc(50% - 1rem)
    }

    .sponsorship__list{
        flex-wrap: wrap;
        gap: 1rem;
    }

    .sponsorship__item{
        flex: 0 0 calc(50% - 1rem)
    }

    .title__field{
        padding-top: 0.5rem;
    }
    
    .footer-content{
        flex-wrap: wrap;
    }

    .footer__section{
        flex: 1 1 45%;          
        box-sizing: border-box;
    }

    .nav__mobile-btn{
        display: block;
    } 
}
@media only screen and (max-width: 767px) {
    body {
        background-color: pink;
    }
    .conference__img{
        display: none;
    } 
       
    .sponsorship__list{
        gap: 2rem;
            
    }

    .sponsorship__item{
        flex: 0 0 calc(100% - 2rem)
    }

    .news__item{
        flex-direction: column;
    }

    .news__item img{
        width: 100%;
    }

    .news__content{
        width: 100%;
    }

    .footer-content{
        flex-wrap: wrap;
    }

    .footer__section{
        flex: 1 1 100%;          
        box-sizing: border-box;
    }
}

/* Page 2: About */
.about__section{
    width: full;
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    padding-top: 3.5rem;
    padding-bottom: 5.75rem;
}

.about__content{
    padding: 2.875rem 4rem  6.875rem 0;
}
.report__section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3.5rem 16.125rem;
    align-items: center;
}

.report__content{
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.trustees__section{
    padding-top: 5.875rem;
}

.trustees__content{
    width: 40%;
    padding-bottom: 3.15rem;
}

.trustees__title{
    padding-bottom: 0.75rem;
    padding-top: 1.25rem;
}

.trustees__list{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding-bottom: 4.375rem;
    padding-top: 2.125rem;
    border-bottom: 1px solid #001446;
}

.trustees__card{
    width: 25%;
    display: flex;
    flex-direction: column;
    gap : 1.75rem;
}

.card__highlight{
    display: flex;
    flex-direction: row;
    gap: 0.25rem;  
    padding-bottom: 0.75rem;
}

.card_avatar{
    width: 100%;
}

.card_name{
    text-transform: uppercase;
}

.rcj-conferences{
    width: full;
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;    
    position: relative;
}

.rcj-conferences__content{
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    padding-bottom: 21.5rem;

}

.rcj-conferences__describe{
    display: flex;
    flex-direction: row;
    gap: 3.125rem;

}

.rcj-conferences__inform{
    border-radius: 1.5rem;
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 100%;
    left: 0;
    top: 50%;
    padding: 0 8.75rem;

    
    
}

.inform__content{
    padding: 5rem 1.5rem 4.75rem 5.5rem;
    flex: 0 0 50%;  
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    
}

.inform__title{
    padding-top: 1.25rem;
    padding-bottom: 1.5rem;
}

.inform__img {
    flex: 0 0 50%;  

}

.inform__img img{
    width: 100%;
    display: block;
    object-fit: cover;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}

.past-conference{
    padding-top: 30.5rem;
    padding-bottom: 4.875rem;
}

.past-conference__title{
    padding-bottom: 1.5rem;
    padding-top: 4.75rem;
}

.past-conference__content{
    display: flex;
    flex-direction: column;
    gap: 2.25rem;
    padding-top: 2.25rem;
    border-top: 1px solid #001446;
}


.past__list{
    display: flex;
    flex: row;
    gap: 3.75rem;
    
}

.past__item{
    flex: 0 0 33.33%;
}


/* Page 3: How we give */

.howwegive__title{
    padding-left: 8.75rem;
    padding-top: 6.375rem;
    padding-bottom: 4.625rem;
    width: full;
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
}

.information__title{
    padding: 2.375rem 0;
    text-align: center ;
    padding-bottom: 3.25rem;
}













